.help_img {
	border-bottom: none !important;
	display: inline-table;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	overflow: hidden;
	box-sizing: border-box;
}

.tips {
	display: none;
}

.help_img:hover .tips {
	display: block;
	position: absolute;
	z-index: 3;
	background: rgba(17, 17, 17, 0.9);
	border-radius: 6px;
	color: #fff;
	width: 200px;
	font-size: 12px;
	padding: .5em 1em;
	word-break: break-all;
	margin-bottom: 11px;
	text-align: left;
	opacity: 0.8;
}

s {
	position: absolute;
	top: -10px;
	*top: -12px;
	left: 10px;
	display: block;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	border-color: transparent transparent rgba(17, 17, 17, 0.9) transparent;
	border-style: dashed dashed solid dashed;
	border-width: 5px;
}

.widget-title{
	font-size: 14px;
    font-weight: 700;
    color: #333;
}
.widget-title label{
	font-size: 14px!important;
    font-weight: 700!important;
    color: #333;
    margin-bottom: 0px!important;
}
.widget-box{
   border: 1px solid #CCC!important;
}
.page-content{
	padding:0px 0px 0px!important;
}

button{
	height: 30px!important;
}
.ui-pg-input{
    height: 22px;
    width: 35px;
    text-align: center;
    }
 .btn{
 	color: #FFF!important;
 	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 10px!important;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
 }
